<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791307120893-vlfipvcrper9ljhufs7f7dcmmfnjcrbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791307120893-vlfipvcrper9ljhufs7f7dcmmfnjcrbe</string>
	<key>API_KEY</key>
	<string>AIzaSyAwPUIUNeQxN4TYnKDGDi789kji2o5kFd8</string>
	<key>GCM_SENDER_ID</key>
	<string>791307120893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rando-app-highlanderkev</string>
	<key>STORAGE_BUCKET</key>
	<string>rando-app-highlanderkev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791307120893:ios:99dfccd7af8f4bd06c4e94</string>
</dict>
</plist>